.nav-bar{
  font-family: 'Times', sans-serif;
  border-top: 2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;
}

li{
  display:inline-block;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  list-style: none;
}

.name-bar{
  font-family: 'Times', sans-serif;
  padding-left: 30px;
}
