.nav-bar{
  font-family: 'Times', sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
li{
  display:inline-block;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  list-style: none;
}

.name-bar{
  font-family: 'Robot', sans-serif;
  font-weight: lighter;
  padding-left: 30px;
}
